@import "source/_mixins.scss";
@import "source/_variables.scss";


.game-wrapper {
	.tetris-wrapper {
		position: relative;
		width: 300px;
		height: 600px;
		float: left;

		.nick {
			font-size: 18px;
			text-transform: uppercase;
			color: $dark-blue-2;
			margin-bottom: 15px;
		}

		&.adversary {
			margin-left: 100px;
			opacity: 0.5;
		}

		.tetrify-wrapper {
			position: relative;
		}

		.end-game {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $green-3;
			z-index: 20;

			p {
				font-size: 22px;
				position: absolute;
				color: white;
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}
	}

	.blockrain-score-holder {
		position: absolute;
		color: white;
		z-index: 15;
	}
}