@import './_mixins.scss';
@import './_variables.scss';
//@import './fonts/icons/scss/font-awesome.scss';

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto');

body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	background-color: $dark-blue-2;

	.app {
		width: 700px;
		height: 700px;
		background: $soft-gray;
		display: inline-block;
		margin: auto;
		text-align: center;
		padding: 50px;
		border: 3px solid $dark-blue-6;
		margin-top: 80px;
	}
}