$soft-gray: #f9f9f9;
$background-gray: #f9f9fb;
$medium-gray: #d4d4d4;
$darker-gray: #c4c4c4;
$background-input-gray: #fafafa;
$warning: #e2d485;

$disabled-link: #444a50;

$blue-1: #297fb8;
$blue-2: #8bbdde;
$blue-3: #7daac7;
$blue-4: #61849b;
$green-1: #c9daa0;
$green-2: #b1ca77;
$green-3: #006f76;
$green-4: #7c8d53;
$green-5: #92c67e;
$red-1: #d25b55;
$red-2: #cd4842;
$red-3: #b8413b;
$red-4: #8f322e;
$red-5: #df897d;
$red-6: #c0534d;
$red-error: #df897d;
$dark-blue-1: #4f545c;
$dark-blue-2: #3b414a;
$dark-blue-3: #353a42;
$dark-blue-4: #292d34;
$dark-blue-5: #717980;
$dark-blue-6: #595f68;
$dark-blue-7: #464b53;
$dark-blue-8: #232b32;
$dark-blue-9: #182229;
$gray-1: #ffffff;
$gray-2: #f0f2f4;
$gray-3: #dadee3;
$gray-4: #a8a9aa;
$gray-5: #b1bac4;
$gray-6: #e5e5e5;
$gray-7: #d0d1d1;
$gray-8: #f0f0f0;